.project-nav {
  @apply relative;
}

.task-assignee .select-button,
.task-priority .select-button,
.task-status .select-button,
.task-point .select-button {
  border: none;
  padding: 0px;
  box-shadow: none !important;
}

.task-status .status-title {
  display: none;
}

.task-assignee .trailing-icon,
.task-point .trailing-icon,
.task-status .trailing-icon,
.task-priority .trailing-icon {
  display: none;
}

.task-assignee .select-options {
  width: 200px;
  z-index: 12;
}

.task-priority .select-options {
  width: 170px;
  z-index: 12;
}

.task-point .select-options {
  width: 100px;
  z-index: 12;
}

.task-status .select-options {
  width: 150px;
  z-index: 12;
}

.task-assignee .selected-member-item {
  padding: 0px;
  background: transparent;
  border: none;
}

.task-date .form-input {
  padding: 0;
}

.project-member-permission {
  @apply w-[100px];
}

.project-member-permission .select-button {
  @apply text-xs px-2 py-1.5 text-gray-500;
}

.project-member-permission .select-clear-icon {
  @apply hidden;
}

.project-member-permission .select-item {
  @apply text-xs;
}

.status-name.loading {
  @apply relative text-transparent;
}

.status-name.loading:before {
  @apply absolute top-0 left-0 bg-gray-100 rounded;
  content: '';
  width: 100%;
  height: 100%;
}

.task-form .member-picker .select-container.single .selected-member-item {
  background: transparent;
  border: none;
  padding: 0;
}

.task-import-modal {
  max-width: 1200px !important;
}

.irow {
  @apply hover:bg-gray-100;
}

.icell {
  @apply px-1.5 py-2;
}
