# Add files here to ignore them from prettier formatting
/dist
/coverage
.circleci/
.github/
.husky
build/
node_modules/
coverage/
patches/
scripts/

.bettercodehub.yml
.buckconfig
.gitattributes
.gitignore
.snyk
.watchmanconfig
CONTRIBUTING.md
README.md
SECURITY.md
npm-debug.log
yarn-error.log

.storybook/
