.task-filter {
  @apply sticky top-0 left-0 z-20 px-4 border-b bg-white flex items-center justify-between;
  @apply dark:bg-gray-900 dark:text-gray-300 dark:border-b-gray-800;
}

.task-filter-actions {
  @apply flex items-center gap-3;
}

.task-filter-actions .form-input {
  @apply border-none shadow-none text-xs;
  @apply dark:bg-gray-900;
}

/* .task-filter-member-picker .selected-member span.name{ */
/*   @apply hidden; */
/* } */
.task-filter-member-picker .selected-member .avatar-root {
  height: 1.5rem;
  width: 1.5rem;
}

.task-filter-member-picker .selected-item-container {
  gap: 0px;
  @apply -space-x-2 pr-1;
}

.task-filter-member-picker .selected-member {
  @apply dark:rounded-full;
}

.calendar-filter .select-container .trailing-icon {
  @apply hidden;
}

.calendar-filter .select-button {
  @apply pr-3;
}

.calendar-filter .cal-btn {
  @apply w-6 h-6 cursor-pointer text-gray-500 dark:text-gray-400 border rounded-md px-1 py-0.5;
  @apply dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-800 cursor-pointer;
}
