.text-editor .ProseMirror {
  min-height: 100px;
}

.bubble-action-btn {
  @apply cursor-pointer bg-gray-100 text-gray-500;
  @apply border rounded w-6 h-6 flex justify-center items-center;
  @apply dark:border-gray-700 dark:text-gray-500 dark:bg-gray-800;
  @apply hover:bg-white dark:hover:bg-gray-700;
}

.bubble-action-btn.is-active {
  @apply dark:bg-gray-900 dark:text-gray-400 dark:border-gray-500;
  @apply bg-gray-200 text-gray-800 border-gray-400;
}

.ProseMirror-focused {
  border: none;
  outline: none;
}

.ProseMirror {
  @apply space-y-6;
}

.ProseMirror pre {
  @apply p-4 rounded-md bg-black text-white text-xs;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3 {
  @apply font-bold;
}

.ProseMirror h1 {
  font-size: 2rem;
}

.ProseMirror img {
  @apply block mx-auto;
  @apply my-6;
  max-height: 700px;

}

img.ProseMirror-selectednode {
  @apply outline outline-2 outline-offset-2 outline-indigo-400;
}

.ProseMirror h2 {
  font-size: 1.5rem;
}
.ProseMirror h3 {
  font-size: 1rem;
}

.ProseMirror ul {
  @apply list-disc pl-6;
}

.ProseMirror ol {
  @apply list-decimal pl-6;
}

.ProseMirror a {
  @apply text-indigo-600 underline hover:cursor-pointer hover:text-indigo-700;
}

.ProseMirror blockquote {
  @apply border-l-4 border-gray-400 ml-6 pl-6;
}
